remoteSettingsUrl = http://your.site/settings_dealer.php
useRemoteSettings = false
path = /home/yoursite/public_html
checkFile = check.txt
logFile = logs.txt
emailAddress = your@mail.com
emailSubject = Check integrity
sendDebugEmail = true
debugEmailAddress = your@mail.com
skipExtensions 	= extensionsToSkipFromControl.txt
skipDirectories = directoriesToSkipFromControl.txt
skipFiles =	filesToSkipFromControl.txt
dangerousPatterns =	dangerousPatterns.txt
setQuarantine = false
extQuarantine  = quarantine
